<div class="container">
  <h1 class="title-page">Equipos</h1>
  <mat-form-field class="w-100">
    <mat-label>Buscar equipo</mat-label>
    <input
      matInput
      type="text"
      id="searchTeams"
      placeholder="Buscar equipo por nombre"
      [formControl]="searchTeams"
      (keyup.enter)="filterTeams()"
    />
  </mat-form-field>

  <div class="options-zone text-center">
    <button
      class="btn-buscar"
      (click)="filterTeams()"
      mat-flat-button
      color="primary"
    >
      Buscar
    </button>
    <button
      class="btn-buscar"
      (click)="resetData()"
      mat-flat-button
      color="primary"
    >
      Reestablecer
    </button>

    <button
      class="btn-buscar"
      (click)="newTeam()"
      mat-flat-button
      color="primary"
    >
      Crear Equipo
    </button>
  </div>

  <div class="container-table">
    <table mat-table [dataSource]="dataSource!" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let team">{{ team.name }}</td>
      </ng-container>

      <!-- City Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</th>
        <td mat-cell *matCellDef="let team">{{ team.city }}</td>
      </ng-container>

      <!-- Conference Column -->
      <ng-container matColumnDef="conference">
        <th mat-header-cell *matHeaderCellDef>Conferencia</th>
        <td mat-cell *matCellDef="let team">
          {{ team.leagues.standard.conference }}
        </td>
      </ng-container>

      <!-- Division Column -->
      <ng-container matColumnDef="division">
        <th mat-header-cell *matHeaderCellDef>Division</th>
        <td mat-cell *matCellDef="let team">
          {{ team.leagues.standard.division }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let team">
          <button
            matTooltip="Editar"
            matTooltipPosition="above"
            class="btn-action"
            (click)="editTeam(team)"
            mat-mini-fab
            color="primary"
            aria-label="editar"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            matTooltip="Eliminar"
            matTooltipPosition="above"
            class="btn-action"
            (click)="deleteTeam(team)"
            mat-mini-fab
            color="warn"
            aria-label="borrar"
          >
            <mat-icon>delete</mat-icon>
          </button>

          <button
            matTooltip="Ver en detalle"
            matTooltipPosition="above"
            class="btn-action"
            (click)="showTeam(team)"
            mat-mini-fab
            color="accent"
            aria-label="borrar"
          >
            <mat-icon>sports_basketball</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Seleccionar pagina"
    >
    </mat-paginator>
  </div>

  <div class="button-area">
    <button (click)="fullRestore()" mat-flat-button color="warn">
      Reseteo Forzoso
    </button>
  </div>
</div>
