<h2 class="title-modal">{{ data.name | uppercase }}</h2>

<div class="modal-content">
  <div class="row-modal">
    <div class="col-modal">
      <img [src]="data.logo | imageFile" width="200px" alt="" srcset="" />
    </div>
    <div class="col-modal">
      <div class="data-title">Ciudad</div>
      <span>{{ data.city }} </span>
      <div class="data-title">Codigo</div>
      <span>{{ data.code }} </span>
      <div class="data-title">Apodo</div>
      <span>{{ data.nickname }} </span>
      <div class="data-title">Conferencia</div>
      <span>{{ data.leagues.standard.conference }} </span>
      <div class="data-title">Division</div>
      <span>{{ data.leagues.standard.division }} </span>
    </div>
  </div>

  <div class="button-area">
    <button
      [mat-dialog-close]="true"
      mat-flat-button
      color="primary"
      style="margin-right: 8px"
    >
      Salir
    </button>
  </div>
</div>


