<form [formGroup]="addForm" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput formControlName="name"
           placeholder="Inserte nombre">
    <mat-error *ngIf="f.name.hasError('required')">
      Ingrese un nombre al equipo
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Ciudad</mat-label>
    <input type="text" matInput formControlName="city"
           placeholder="Inserte ciudad">
    <mat-error *ngIf="f.city.hasError('required')">
      Ingrese la ciudad del equipo
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Apodo</mat-label>
    <input type="text" matInput formControlName="nick"
           placeholder="Inserte apodo del equipo">
    <mat-error *ngIf="f.nick.hasError('required')">
      Ingrese el apodo del equipo
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Código</mat-label>
    <input type="text" matInput formControlName="nick"
           placeholder="Ingrese código">
    <mat-error *ngIf="f.code.hasError('required')">
      Ingrese el código del equipo
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Division</mat-label>
    <mat-select formControlName="division" (selectionChange)="setConference()">
      <mat-option *ngFor="let item of divisions" [value]="item.divisionValue">
        {{item.divisionValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>